body {
    font-family: sans-serif;
    padding: 20px;
}

.bloque {
    background-color: rgb(0, 174, 255);
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 200px;
    width: 200px;
    height: 100px;
    display: inline;
}

.inline {
    background-color: rgb(113, 43, 226);
    border: 2px dashed rgb(19, 245, 234);
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 100px;
    display: block;
}

.inline-block {
    background-color: tomato;
    border: 2px black;
    padding: 10px;
    margin: 10px;
    width: 150;
    height: 200px;

}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;



}

button {
    background-color: aqua;

}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #b3dbe0;


}